.main {
  position: absolute;
  top: 28%;
  transform: translateY(28%);
}
.hero {
  display: flex;
  /* transform: translateY(80%); */
}
h1 {
  font-size: 40px;
    font-weight: 500;
    margin-bottom: 70px;
}
.p {
  width: 72%;
  line-height: 34px;
}
.main img {
  border-radius: 50%;
}
@media (max-width: 767px) {
  .main {
    top: 35px;
  }
  .hero {
    /* transform: translateY(30%); */
  }
  .main img {
    position: absolute;
    top: -130px;
    width: 150px;
    left: 35px;
  }
  .p {
    width: 78%;
    line-height: 30px;
  }
  h1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .hero .left {
    margin-top: 50px;
  }
}