@tailwind base;
@tailwind components;
@tailwind utilities;



body .projects {
  background-color: #449183;
  height: 762px;
  padding-top: 1px;
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  body .projects {
    height: 181vh;
  }
}